/* Background image for the receiver */
.background {
  background: center no-repeat url(https://raw.githubusercontent.com/MarSoftLtd/RadioTune/main/cast1.jpg);
}

/* Logo shown when the receiver is launching */
.logo {
  background-image: url(https://raw.githubusercontent.com/MarSoftLtd/RadioTune/main/cast2.jpg);
}

/* Progress bar for media playback */
.progressBar {
  background-color: rgb(238, 255, 65);
}

/* Splash screen shown when the receiver is in an idle state */
.splash {
  background-image: url(https://raw.githubusercontent.com/MarSoftLtd/RadioTune/main/cast3.jpg);
}

/* Watermark shown when the media is playing */
.watermark {
  background-image: url(https://raw.githubusercontent.com/MarSoftLtd/RadioTune/main/cast1.jpg);
  background-size: 57px 57px;
}
